<article id="movie" class="movie">
  <header>
    <%= image_for(@movie) %>
    <h1><%= @movie.title %></h1>
    <h2>Released: <%= @movie.released_on %></h2>
  </header>

  <p>
    <%= @movie.description %>
  </p>
  
  <h3 class="no-rule">
    <%= @movie.rating %> &bull; <%= @movie.duration %> 
  </h3>

  <h3>Average Stars</h3>
  <p>
    <%= average_stars(@movie) %>
  </p>

  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>
  
  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>
  
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>

<% if @movie.reviews.any? %>
  <h3>Recent Reviews</h3>
  <ol id="reviews" >
    <% @movie.reviews.order('created_at desc').limit(2).each do |review| %>
      <p>
        <%= review.name %> (<%= pluralize(review.stars, 'Star') %>) </br>
        "<%= review.comment %>"
      </p>
        </ol>
    <% end %>
  <% end %>
  <% if @movie.reviews.size > 2 %>
  <%= link_to "View all #{pluralize(@movie.reviews.size, "Review")}",
              movie_reviews_path(@movie), class: 'button' %>
    <% end %>

  <footer>
    <nav>
      <%= link_to "write review", new_movie_review_path(@movie), class: 'button ok review'  %>
      <%= link_to 'Edit', edit_movie_path(@movie), class: 'button' %>
      <%= link_to 'Delete', @movie, 
                  class: 'button',
                  method: :delete, data: { confirm: 'Are you sure?' } %>
    </nav>
  </footer>
</article>
